.portfilo {
    color: rgb(44, 62, 80);
}
img{
    width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.line {
  width: 120px;
  height: 4px;
  background-color:rgb(44, 62, 80);
  border-radius: 2px;
}

.star {
  font-size: 32px;
  line-height: 1;   
  display: flex;    
  align-items: center;
}
